/* Buttons */
.btn {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color:rgba(33, 37, 41, 0.1);
  border-color: white;
  color: white;
}

.btn-secondary {
  background-color:#d73925;
  border-color:#d73925;
  color: white;
}

.btn-tertiary {
  background-color:black;
  border-color:black;
  color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color:black;
  background-color: white !important;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color:black;
  background-color: white !important;
}

.btn-secondary:active, .btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.provided-button {
    margin-top:1rem;
}
/* Projects */
.projects-section {
  padding: 10rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

/* Masthead */
header.main-masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header_opacity_scaled.png");
  background-position: center center;
  background-size: cover;
}

header.main-masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.main-masthead h1 {
  font-size: 2rem;
}

header.main-masthead p {
  font-weight: 300;
}

/* Map */
.map {
  height: 30rem;
}

.map iframe {
  pointer-events: none;
}

/* Sections */
section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

/* General */
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
.trainer-name {
  font-size:2rem;
}

#trainer-container {
  text-align: center;
  margin-top: 1rem;
}

.no-border-radius {
  border-radius:0;
}

.no-padding {
  padding:0;
}

.heavy-header {
  font-weight: 700;
}

.footer {
  bottom: 0;
  width: 100%;
  padding:2rem;
}


body,
html {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

.hr-light {
  max-width: 50px;
  border-width: 3px;
  border-color: white;
}

.hr-dark {
  max-width: 50px;
  border-width: 3px;
  border-color: black;
}


a {
  color: black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: black !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-primary {
  color: white !important;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.service-box {
  max-width: 400px;
}

#services-container{
  margin-top:0;
}

.nav-link:hover {
  cursor: pointer;
}