@media only screen and (min-width: 768px) {
    header.main-masthead p {
      font-size: 1.15rem;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
      font-size: 16px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
      font-size: 22px;
    }
    #services-container {
      margin-top:5rem;;
    }
  }
  
  @media only screen and (min-width: 992px) {
    #trainer-container {
      text-align: left;
      margin-top: 0;
    }
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #64a19d;
    }
    .projects-section .project-text {
      padding: 5rem;
    }
    .projects-section .project-text hr {
      border-color:black;
      border-width: .25rem;
      width: 30%;
    }
    .map {
      height: 75%;
    }
    header.main-masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0;
    }
    header.main-masthead h1 {
      font-size: 3rem;
    }
    #mainNav {
      border-color: transparent;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #fff;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
    #mainNav.navbar-shrink {
      border-bottom: 1px solid rgba(33, 37, 41, 0.1);
      background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: black;
    }
    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
      color: black;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    header.main-masthead h1 {
      font-size: 4rem;
    }
  }